* {
  box-sizing: border-box;
}

html {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.post-wrapper {
  margin: 40px auto;
  padding: 20px 20px;
  width: 830px;
  background-color: #14152d;
  height: 480px;
}

.header {
  display: flex;
  color: white;
}

.author-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.header-content {
  margin-left: 10px;
  text-align: left;
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 680px;
}

.author-info {
  display: flex;
  justify-content: space-between;
  width: 410px;
}

.author-name {
  font-weight: bold;
}

.additional-info {
  display: flex;
  justify-content: space-around;
  width: 210px;
  color: #7e7e9e;
  font-weight: 600;
}

.arrow {
  height: 10px;
  cursor: pointer;
}

.content {
  margin: 3px;
  font-weight: 600;
}

.main {
  margin-left: 70px;
}

.main-pic {
  width: 700px;
  border-radius: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 16px 0;
  padding-left: 5px;
  font-weight: 450;
  color: #7e7e9e;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 80px;
}

.icon {
  width: 33px;
  height: 23px;
  cursor: pointer;
}

.icon-ver {
  width: 25px;
}
